@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Cormorant";
        src: url("./fonts/CormorantGaramond-Medium.ttf");
    }
    @font-face {
        font-family: Helvetica_Regular;
        src: url("./fonts/helvetica_regular.otf");
    }
    @font-face {
        font-family: Helvetica_Light;
        src: url("./fonts/helvetica_light.otf");
    }
    @font-face {
        font-family: RalewayRegular;
        src: url("./fonts/raleway-regular.ttf");
    }
    @font-face {
        font-family: MontserratRegular;
        src: url("./fonts/montserrat-regular.ttf");
    }
    @font-face {
        font-family: MontserratMedium;
        src: url("./fonts/Montserrat-Medium.ttf");
    }
    @font-face {
        font-family: MontserratSemiBold;
        src: url("./fonts/Montserrat-SemiBold.ttf");
    }
    @font-face {
        font-family: AliceRegular;
        src: url("./fonts/Alice-Regular.ttf");
    }
    @font-face {
        font-family: 'Souliyo-Unicode';
        src:url('./fonts/Souliyo-Unicode.ttf.woff') format('woff'),
        url('./fonts/Souliyo-Unicode.ttf.svg#Souliyo-Unicode') format('svg'),
        url('./fonts/Souliyo-Unicode.ttf.eot'),
        url('./fonts/Souliyo-Unicode.ttf.eot?#iefix') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
    }
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-blue-color: #2A657E;
    --main-yellow-color: #F2C452;
    --main-white-color: #FBF6ED;
    --main-red-color: #F01414;
    --main-pink-color: #FF808F;
    --main-grey-color: #999999;
}
